@charset "UTF-8";
.home-ui-page .ant-card-head {
  background: #f5f5f5;
}

.home-ui-page .ant-card-body {
  background-color: white;
  padding: 10px 15px;
}

.home-ui-page .label-type {
  font-weight: 600;
  font-size: 15px;
  color: #333333;
  margin: 10px 0;
}

.home-ui-page .required::before {
  content: '*';
  color: red;
}

.home-ui-page .label-content {
  font-size: 12px;
  color: #4A4A4A;
  margin-bottom: 8px;
}

.home-ui-page .all-modules {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.home-ui-page .all-modules .add-item {
  width: 100%;
  margin-top: 15px;
}

.home-ui-page .all-modules li {
  width: 100%;
  height: 27px;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 10px;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  cursor: pointer;
}

.home-ui-page .all-modules li p {
  -webkit-flex: 1;
  margin: 0;
  line-height: 25px;
  font-size: 12px;
}

.home-ui-page .all-modules li .disabled {
  color: red;
}

.home-ui-page .all-modules li i {
  display: block;
  -webkit-flex: 0 0 9px;
  background: url("../../image/common/btn_close.png") center no-repeat;
  background-size: contain;
  transform: rotate(45deg);
}

.home-ui-page .all-modules li .input-color {
  margin-left: 8px;
  width: 80px;
  border: 1px solid #e5e5e5;
}

.home-ui-page .preview-block {
  float: left;
  margin: 0 20px;
  width: 420px;
  height: 874px;
  background: url("../../image/cover/iphone6.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page {
  width: 375px;
  height: 667px;
  margin: 96px 0 0 16px;
}

.home-ui-page .preview-block .preview-page .highlightborder {
  border: 1px dashed;
}

.home-ui-page .preview-block .preview-page .highlightborder .close {
  z-index: 3;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 20px;
  height: 20px;
  background-size: 60%;
  cursor: pointer;
}

.home-ui-page .preview-block .preview-page .modules {
  top: 10px;
  position: relative;
  width: 350px;
  height: 667px;
  overflow-y: scroll;
  right: -20px;
}

.home-ui-page .preview-block .preview-page .modules::-webkit-scrollbar {
  display: none;
}

.home-ui-page .preview-block .preview-page .modules li {
  position: relative;
  margin-bottom: 7px;
  cursor: move;
  overflow: hidden;
  background: #fff;
}

.home-ui-page .preview-block .preview-page .modules li .sub-title {
  position: relative;
  width: 100%;
  padding: 0 15px;
  background: #fff;
  height: 43px;
  line-height: 43px;
  display: flex;
  flex-flow: row;
}

.home-ui-page .preview-block .preview-page .modules li .sub-title p {
  margin: 0;
  flex: 1;
  font-size: 17px;
  overflow: hidden;
  height: 43px;
}

.home-ui-page .preview-block .preview-page .modules li .sub-title .more {
  flex: 0 0 40px;
  width: 40px;
  font-size: 12px;
  color: #9a9a9a;
  background-size: 14%;
}

.home-ui-page .preview-block .preview-page .modules li .sub-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -50%;
  width: 200%;
  height: 1px;
  background: #dfdfdf;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

.home-ui-page .preview-block .preview-page .modules li .BANNER {
  width: 350px;
  height: 196px;
  background: url("../../image/setting/banner.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .AD {
  width: 345px;
  margin: 7px 15px;
  height: 159px;
  background: url("../../image/setting/ad.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .NAV {
  width: 345px;
  height: 84px;
  margin: 7px 15px;
  background: url("../../image/setting/nav.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .TOP {
  width: 345px;
  margin: 7px 15px;
  height: 302px;
  background: url("../../image/setting/top.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .COURSE {
  width: 345px;
  margin: 7px 15px;
  height: 310px;
  background: url("../../image/setting/course.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .TRAINER {
  width: 345px;
  height: 200px;
  margin: 7px 15px;
  background: #fff url("../../image/setting/trainer.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .LIVE {
  width: 345px;
  height: 258px;
  margin: 7px 15px;
  background: #fff url("../../image/setting/live.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .ARTICLE {
  width: 345px;
  height: 285px;
  margin: 7px 15px;
  background: #fff url("../../image/setting/article.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block .preview-page .modules li .ant-tabs {
  background: #fff;
}

.home-ui-page .preview-block-pc {
  float: left;
  margin: 0 20px;
  width: 420px;
  height: 535px;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page {
  width: 420px;
  height: 493px;
  margin-top: 40px;
}

.home-ui-page .preview-block-pc .preview-page .highlightborder {
  border: 1px dashed;
}

.home-ui-page .preview-block-pc .preview-page .highlightborder .close {
  z-index: 3;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 20px;
  height: 20px;
  background-size: 60%;
  cursor: pointer;
}

.home-ui-page .preview-block-pc .preview-page .modules {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.home-ui-page .preview-block-pc .preview-page .modules::-webkit-scrollbar {
  display: none;
}

.home-ui-page .preview-block-pc .preview-page .modules li {
  position: relative;
  margin-bottom: 7px;
  cursor: move;
  overflow: hidden;
  background: #fff;
}

.home-ui-page .preview-block-pc .preview-page .modules li .sub-title {
  position: relative;
  width: 100%;
  padding: 0 15px;
  background: #fff;
  height: 43px;
  line-height: 43px;
  display: flex;
  flex-flow: row;
}

.home-ui-page .preview-block-pc .preview-page .modules li .sub-title p {
  margin: 0;
  flex: 1;
  font-size: 17px;
  overflow: hidden;
  height: 43px;
}

.home-ui-page .preview-block-pc .preview-page .modules li .sub-title .more {
  flex: 0 0 40px;
  width: 40px;
  font-size: 12px;
  color: #9a9a9a;
  background-size: 14%;
}

.home-ui-page .preview-block-pc .preview-page .modules li .sub-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -50%;
  width: 200%;
  height: 1px;
  background: #dfdfdf;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

.home-ui-page .preview-block-pc .preview-page .modules li .BANNER {
  width: 420px;
  margin: 7px 0;
  height: 160px;
  background: url("../../image/setting/banner.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .AD {
  width: 420px;
  margin: 7px 0;
  height: 80px;
  background: url("../../image/setting/ad.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .NAV {
  width: 420px;
  height: 45px;
  margin: 7px 0;
  background: url("../../image/setting/nav.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .TOP {
  width: 420px;
  margin: 7px 0;
  height: 180px;
  background: url("../../image/setting/top.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .COURSE {
  width: 420px;
  margin: 7px 0;
  height: 180px;
  background: url("../../image/setting/course.png") center no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .TRAINER {
  width: 420px;
  height: 140px;
  margin: 7px 0;
  background: #fff url("../../image/setting/trainer.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .LIVE {
  width: 420px;
  height: 180px;
  margin: 7px 0;
  background: #fff url("../../image/setting/live.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .ARTICLE {
  width: 420px;
  height: 122px;
  margin: 7px 0;
  background: #fff url("../../image/setting/article.png") no-repeat;
  background-size: contain;
}

.home-ui-page .preview-block-pc .preview-page .modules li .ant-tabs {
  background: #fff;
}

.home-ui-page .banners li {
  float: left;
  width: 180px;
  padding: 5px 10px;
  cursor: move;
}

.home-ui-page .banners li .img {
  width: 160px;
  height: 90px;
  position: relative;
}

.home-ui-page .banners li .img i {
  z-index: 2;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.home-ui-page .banners li .img .close {
  background-size: 60%;
}

.home-ui-page .banners li .img .edit {
  top: 20px;
  background-size: 70%;
}

.home-ui-page .banners li .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 90px;
}

.home-ui-page .banners li p {
  width: 100%;
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
}

.home-ui-page .categories li {
  width: 110px;
}

.home-ui-page .categories li .img {
  width: 90px;
}

.home-ui-page .categories li .img img {
  width: 90px;
}

.home-ui-page .products li {
  width: 100%;
  padding: 5px 10px;
  cursor: move;
  display: flex;
}

.home-ui-page .products li img {
  flex: 0 0 105px;
  height: 60px;
}

.home-ui-page .products li .title {
  flex: 1;
  height: 50px;
  padding: 0 10px;
  text-align: left;
  line-height: 25px;
  overflow: hidden;
}

.home-ui-page .products li .opt {
  text-align: center;
  flex: 0 0 50px;
}

.home-ui-page .line {
  width: 100%;
  min-height: 45px;
  line-height: 30px;
  padding: 7px 10px 7px 0;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  margin-bottom: 1px;
}

.home-ui-page .line .title-input {
  width: 160px;
  margin-left: 8px;
  border: 1px solid;
  padding: 2px 8px;
  border-radius: 2px;
}

.home-ui-page .line p {
  text-align: left;
  padding-right: 5px;
  margin: 0;
}

.home-ui-page .line p:after {
  content: 'ï¼š';
}

.home-ui-page .line .required:before {
  content: '* ';
  color: red;
  font-size: 11px;
}

.home-ui-page .line .ant-checkbox-wrapper .input-narrow {
  float: none;
}

.home-ui-page .line .input-wide {
  -webkit-flex: 1;
  height: 30px;
  line-height: 30px;
  padding: 0 3px;
  border: 1px solid;
}

.home-ui-page .line .input-narrow {
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 3px;
  border: 1px solid;
  border-radius: 4px;
  margin: 0 5px;
}
